# ==========================================
# Ambientes Virtuais (uv / PyCharm)
# ==========================================
.venv/
venv/
ENV/

# ==========================================
# Configurações de IDE (PyCharm)
# ==========================================
.idea/
.vscode/

# ==========================================
# Python & Byte-compiled files
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# Arquivos de Dados e Planilhas
# ==========================================
*.xlsx
*.xls
*.csv

# ==========================================
# Builds e Executáveis (PyInstaller / Flet)
# ==========================================
build/
dist/
*.spec

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db
desktop.ini